#set($title="登录")

#set($layout = "layout/passport.vm")

<style>
    #login-container{height: 100%; min-height:500px;background-image: url(/static/images/wood.jpg);background-size: 100% 100%;}
    #login-panel{margin: 50px 5%;max-width:350px;float: right;}
    .input-group{margin:15px 0px;}
    .panel-register{float: right;margin-right:5px;margin-top: 8px; color: #b61d1d;}
    #loginTip{width: 100%}
</style>

<div id="login-container" class="container-fluid">
    <div class="context-container">
        <div id="login-panel" class="panel panel-primary">
            <div class="panel-heading">
                <a class="panel-register" href="/register?forward=$!{forward}">立即注册</a>
                <h4>会员</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="input-group" id="account-group">
                        <label for="inputAccount" class="input-group-addon">
                            @
                        </label>
                        <input type="text" class="form-control" id="inputAccount" placeholder="请输入账号">
                    </div>
                    <div class="input-group" id="password-group">
                        <label for="inputPassword" class="input-group-addon">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">
                    </div>
                    <button type="button" id="login-do" class="btn btn-default btn-block">登录</button>
                </form>
                <div id="loginTip" class="alert alert-danger input-group hidden" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">登录失败</span>
                    <span id="loginTipInfo">请输入正确的账号</span>
                </div>
            </div>
        </div>
    </div>
</div>

